.logo-title {
  margin-left: 100px;
  font-size: 40px;
  font-weight: bold;
  font-style: italic;
  color: #262626;
  overflow: hidden;
  border-right: .10em solid #FF8D8D;
  white-space: nowrap;
  /* margin: 0 auto; */
  letter-spacing: .4rem;
  animation: demo-typewriter 3s steps(30, end), demo-cursor 1s step-end infinite;
}

@keyframes demo-typewriter {
  from {
      width: 0;
  }

  to {
      width: 100%;
  }
}

@keyframes demo-cursor {

  from,
  to {
      border-color: transparent;
  }

  50% {
      border-color: #FF8D8D;
  }
}